theme:
    name: material
    color_theme: f79d00
    custom_dir: overrides
    logo: assets/images/logo.png
    favicon: assets/images/favicon.ico
    palette:
        - scheme: default
          toggle:
            icon: material/eye
            name: Switch to dark mode
        - scheme: slate
          toggle:
            icon: material/eye-outline
            name: Switch to light mode
    features:
        - header.autohide
        - search.suggest
        - search.highlight
        - search.share
        - navigation.instant
        - navigation.tracking
        - navigation.tabs
        - navigation.expand
        - navigation.indexes
        - navigation.top
        - navigation.sections
        

    icon:
        repo: fontawesome/brands/github
plugins:
    - pdf-export:
        enabled_if_env: ENABLE_PDF_EXPORT
    - tags:
        tags_file: tags.md
    - minify:
        minify_html: true
        minify_js: true
        htmlmin_opts:
          remove_comments: true
    - git-revision-date:
        enabled_if_env: CI
    - search:
        lang: en
        prebuild_index: true
    - git-revision-date-localized:
        type: date
        fallback_to_build_date: true
        enable_creation_date: true
    - macros:
        module_name: commands_and_partners
    
repo_url: https://github.com/The-4th-Hokage/yondaime-hokage
edit_uri: https://github.com/The-4th-Hokage/The-4th-Hokage.github.io/tree/master/docs
site_name: Minato Namikaze
site_author: Miku Chan
repo_name: Source Code
site_description: Konichiwa &#128075;, myself Minato Namikaze, Konohagakure Yondaime Hokage. I do every work of a Hokage in a swift and clean way &#9889;
copyright: This is a fan-made bot and we are not associated with Tokyo TV Corporation :)

markdown_extensions:
  - attr_list
  - pymdownx.snippets
  - md_in_html
  - toc:
      permalink: true
      toc_depth : 2
      slugify: !!python/name:pymdownx.slugs.uslugify
      title: Category
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
      options:
        custom_icons:
          - overrides/.icons

extra:
  bot_name: Minato Namikaze
  bot_discord_id: 935242576343224352
  discord_invite_code: vfXHwS3nmQ
  site_keywords: Minato Namikaze, discord bot, minato, namikaze, discord.py,best discord bot, best anime bot, anime, bot, discord bot
  version:
      provider: mike
  analytics:
    provider: google
    property: !!python/object/apply:os.getenv ["GOOGLE_ANALYTICS_TOKEN"]
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/The-4th-Hokage
      name: Github Organization
    - icon: fontawesome/brands/discord
      link: https://discord.gg/vfXHwS3nmQ
      name: Discord Support Server
    - icon: topgg
      link: https://top.gg/bot/935242576343224352
      name: Top.gg Link
    - icon: discordbotlist
      link: https://discordbotlist.com/bots/minato-namikaze
      name: Discordbotlist Link
    - icon: discordlistspace
      link: https://discordlist.space/bot/935242576343224352
      name: DiscordListSpace Link
    - icon: botsfordiscord
      link: https://discords.com/bots/bot/935242576343224352
      name: Bots For Discord Link
    - icon: bladebotlist
      link: https://bladebotlist.xyz/bot/935242576343224352
      name: BladeBotList Link
    - icon: fateslist
      link: https://fateslist.xyz/bot/935242576343224352
      name: FatesList Link
    - icon: voidbots
      link: https://voidbots.net/bot/935242576343224352/
      name: Void Bot List Link
    - icon: infinity
      link: https://infinitybotlist.com/bots/935242576343224352
      name: Infinity Bot List Link
    - icon: discordbots
      link: https://discord.bots.gg/bots/935242576343224352/
      name: Discord Bots Link
    - icon: discordlabs
      link: https://bots.discordlabs.org/bot/935242576343224352
      name: Discord Labs Link

nav:
  - Home: index.md
  - Commands: 
    - commands/index.md
    - Message Commands List: commands/message_commands.md
    - Application Commands List: commands/application_commands.md
  - Contributors: contributors.md
  - Rules:
    - Privacy Policy: rules/privacy_policy.md
    - Terms of Use: rules/terms_of_use.md
  - Partners: partners.md
  - Listing: contributors.md

