mkdocs
mkdocs-git-revision-date-localized-plugin
mkdocs-git-revision-date-plugin
mkdocs-material
mkdocs-material-extensions
mkdocs-minify-plugin
pymdown-extensions
python-dateutil
mkdocs-macros-plugin
requests
